.category {
  margin-top: 75px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .category {
    margin-top: 115px;
  }
}
.categoryTitle {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .categoryTitle {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryTitle {
    font-size: 2rem;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 1920px) {
  .categoryTitle {
    width: 50%;
  }
}
.categoryTitle > button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #00af87;
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  border: 0px;
  margin: auto;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (min-width: 1024px) {
  .categoryTitle > button {
    font-size: 1.25rem;
    cursor: pointer;
  }
  .categoryTitle > button:hover {
    color: black;
  }
}
.categoryDescription {
  font-size: 1rem;
  width: 90%;
  margin: 0px auto 15px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .categoryDescription {
    width: 60%;
  }
}
@media only screen and (min-width: 1920px) {
  .categoryDescription {
    font-size: 1.25rem;
    width: 50%;
  }
}
.categoryDestination {
  position: relative;
  margin-bottom: 20px;
  max-height: 510px;
}

@media only screen and (min-width: 768px) {
  .categoryDestination {
    width: 60%;
    max-height: 550px;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryDestination {
    display: flex;
    border-top: 2px solid black;
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  .categoryDestination {
    width: 50%;
  }
}
.categoryDestinationTitle {
  position: absolute;
  bottom: -10px;
  left: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  background-color: #00af87;
  color: white;
  min-width: 50vw;
}

@media only screen and (min-width: 1024px) {
  .categoryDestinationTitle {
    display: none;
  }
}
.categoryDestinationTitleName {
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .categoryDestinationTitleName {
    font-size: 1.5rem;
  }
}
.categoryImage {
  width: 100vw;
  max-height: 510px;
}

@media only screen and (min-width: 768px) {
  .categoryImage {
    max-height: 550px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryImage {
    max-width: 50%;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1250px) {
  .categoryImage {
    max-height: 300px;
  }
}
.categoryPlace {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media only screen and (min-width: 1024px) {
  .categoryPlace {
    left: 0px;
    top: 20px;
    right: 50%;
  }
}
.categoryDestinationRight {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .categoryDestinationRight {
    display: block;
    padding: 0px 20px;
    width: 50%;
  }
  .categoryDestinationRight > button {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #00af87;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    border: 0px;
    margin: 15px 0px 0px auto;
    cursor: pointer;
  }
  .categoryDestinationRight > button:hover {
    color: black;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryDestinationNoReviewRight {
    text-align: left;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryDestinationTitleRight {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryDestinationTitleRight {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryDestinationNotRated {
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1024px) {
  .categoryDestinationDescriptionRight {
    margin-top: 10px;
    font-size: 1rem;
    text-align: justify;
  }
}/*# sourceMappingURL=category.css.map */