$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 2.5rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

//Destination info

.destination {
  margin-top: 75px;
}

@media only screen and (min-width: 768px) {
  .destination {
    margin-top: 115px;
  }
}

.destinationHeader {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .destinationHeader {
    width: 60%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .destinationHeader {
    width: 700px;
  }
}

.destinationHeader > img {
  width: 100%;
  max-height: 550px;
}

.destinationHeaderName {
  position: absolute;
  bottom: -$gapM;
  left: 0px;
  font-size: $fontL;
  font-weight: bold;
  padding: $gapM;
  background-color: $colorGreen;
  color: white;
  min-width: 50vw;
}

@media only screen and (min-width: 1024px) {
  .destinationHeaderName {
    min-width: 50%;
    font-size: $fontXL;
  }
}

.destinationRatings {
  padding: $gapXL $gapXL 0px $gapXL;
  font-size: $fontM;
}

@media only screen and (min-width: 768px) {
  .destinationRatings {
    width: 60%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .destinationRatings {
    width: 700px;
  }
}

.destinationAvgRating {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .destinationAvgRating {
    width: 700px;
    margin: 0px auto;
  }
}

.destinationGoBackEditDivs {
  display: flex;
  gap: $gapM;
}

.destinationInfoButtons {
  background-color: $colorGreen;
  color: white;
  padding: $gapS $gapM;
  font-size: $fontS;
  border: 0px;
}

@media only screen and (min-width: 1024px) {
  .destinationInfoButtons {
    cursor: pointer;
  }
  .destinationInfoButtons:hover {
    color: black
  }
}

.destinationReviewsNumber {
  font-size: $fontS;
  margin-bottom: $gapM;
}

@media only screen and (min-width: 1024px) {
  .destinationReviewsNumber {
    width: 700px;
    margin: 0px auto;
    font-size: $fontM;
  }
}

.destinationDescription {
  padding: $gapM $gapXL $gapXL;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .destinationDescription {
    width: 60%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .destinationDescription {
    width: 700px;
    font-size: $fontS;
  }
}

//Delete Destination Question

.destinationDeleteText {
  font-size: $fontS;
  border: 2px solid black;
  padding: $gapM;
  margin: $gapXL;
}

@media only screen and (min-width: 768px) {
  .destinationDeleteText {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .destinationDeleteText {
    font-size: $fontS;
    width: 680px;
    margin: $gapXL auto;
  }
}

.destinationDeleteButtonsDiv {
  display: flex;
  justify-content: center;
  gap: $gapM;
  text-align: center;
  margin: $gapM auto 0px;
}

.destinationDeleteButtons {
  background-color: $colorGreen;
  color: white;
  padding: 0px $gapM;
  font-size: $fontS;
  width: fit-content;
  border: 0px;
}

@media only screen and (min-width: 1024px) {
  .destinationDeleteButtons {
    cursor: pointer;
  }
}

//Edit destination

.destinationEditForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px auto;
  border: 2px solid black;
  padding: $gapM;
  gap: $gapS;
}

@media only screen and (min-width: 768px) {
  .destinationEditForm {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .destinationEditForm {
    width: 680px;
    margin: $gapL auto;
  }

  .destinationEditForm > label {
    font-size: $fontS;
  }

  .destinationEditForm > input {
    font-size: $fontS;
  }
}

.destinationEditTitle {
  font-size: $fontM;
  font-weight: bold;
  margin-bottom: $gapM;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .destinationEditTitle {
    font-size: $fontM;
  }
}

.destinationEditTextarea {
  border-radius: 0px;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  .destinationEditTextarea {
    font-size: $fontS;
  }
}

.destinationEditImageDescription {
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .destinationEditImageDescription {
    font-size: $fontS;
  }
}

.destinationEditFileset {
  font-size: 1rem;
}

@media only screen and (min-width: 1024px) {
  .destinationEditFileset {
    font-size: $fontS;
  }
}

.destinationEditDeleteButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  padding: $gapM 0px;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .destinationEditDeleteButton {
    font-size: $fontS;
    cursor: pointer;
  }
}

//Error

.destinationError {
  font-size: $fontS;
  text-align: center;
  color: red;
}
