$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 2.5rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

.signUp {
  border: 2px solid black;
  padding: $fontS;
  width: 80%;
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
  box-shadow: 2px 2px #88888874;
}

@media only screen and (min-width: 768px) {
  .signUp {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .signUp {
    width: 33%;
    padding: $fontL;
  }
}

.signUpTitle {
  font-size: $fontL;
  font-weight: bold;
  margin-bottom: $gapM;
}

@media only screen and (min-width: 1024px) {
  .signUpTitle {
    font-size: $fontXL;
  }
}

.signUpForm {
  display: flex;
  flex-direction: column;
  gap: $gapL;
  text-align: center;
  margin-top: $gapM;
}

@media only screen and (min-width: 1024px) {
  .signUpForm {
    gap: $gapM;
  }
}

.signUpForm > label {
  font-size: $fontM;
}

@media only screen and (min-width: 1024px) {
  .signUpForm > label {
    font-size: $fontM;
  }
}

.signUpForm > input {
  font-size: $fontM;
  padding: 0px $gapL;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  .signUpForm > input {
    font-size: $fontM;
  }
}

.signUp > button,
.signUpForm > button {
  font-size: $fontL;
  background-color: black;
  color: white;
  border: 0px;
  padding: $gapS 0px;
  width: 100%;
  margin-top: $fontS;
}

.signUpGoBackButton {
  margin-top: 0px;
}

@media only screen and (min-width: 1024px) {
  .signUp > button,
  .signUpForm > button,
  .signUpGoBackButton {
    font-size: $fontM;
    cursor: pointer;
  }
}

.logInDontHaveAcc {
  font-size: $fontS;
  margin-top: $gapXL;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .logInDontHaveAcc {
    font-size: $fontM;
    cursor: pointer;
  }
}

.logInforgotPassword {
  color: $colorGreen;
}

@media only screen and (min-width: 1024px) {
  .logInforgotPassword {
    font-size: $fontM;
    cursor: pointer;
  }
}

//Forgot password

.forgotPasswordRedirect {
  text-align: center;
  margin: $gapM 0px;
  font-size: $fontM;
}

@media only screen and (min-width: 1024px) {
  .forgotPasswordRedirect {
    cursor: pointer;
  }
}

//Error

.signUpError {
  font-size: $fontS;
  text-align: center;
  color: red;
}
