$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 2.5rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

.userProfile {
  border: 2px solid black;
  padding: $gapM;
  margin: 95px auto auto auto;
  box-shadow: 2px 2px #88888874;
  font-size: $fontS;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .userProfile {
    margin: 135px auto 20px;
    width: 60%;
  }
}

.userProfileTitle {
  font-size: $fontXL;
  text-decoration: underline;
}

.userProfileHeader {
  display: flex;
  padding: $gapXL;
  border-bottom: 2px solid black;
}

.userProfileButtonsDiv {
  display: flex;
  flex-direction: column;
  margin: auto 0px auto auto;
  gap: $gapM;
}

.userProfileButtonsDiv > button {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: $gapS $gapM;
  height: fit-content;
  margin-left: $gapM;
}

@media only screen and (min-width: 768px) {
  .userProfileButtonsDiv > button {
    font-size: $fontS;
  }
}

@media only screen and (min-width: 1024px) {
  .userProfileButtonsDiv > button {
    cursor: pointer;
  }
  .userProfileButtonsDiv > button:hover {
    color: black;
  }
}

.userProfileData {
  padding: 0px $gapXL;
}

@media only screen and (min-width: 768px) {
  .userProfileData > div {
    font-size: $fontM;
  }
}

.userProfileActive {
  display: flex;
}

.userIsActiveBox {
  width: 10px;
  height: 10px;
  margin: auto $gapM auto 0px;
  background-color: #00af87;
  border: 2px solid black;
  border-radius: 50%;
}

.userIsNotActiveBox {
  width: 10px;
  height: 10px;
  margin: auto $gapM auto 0px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}

.userProfileUserInfoTitle {
  margin: $gapXL 0px;
  font-size: $fontM;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .userProfileUserInfoTitle {
    font-size: $fontL;
  }
}
.userProfileReviewsTitle {
  margin: $gapXL 0px;
  padding: $gapXL 0px 0px 0px;
  font-size: $fontL;
  font-weight: bold;
  text-align: center;
  border-top: 2px solid black;
}

//Reviews

.userProfileReview {
  margin: $gapM;
  padding: $gapM;
  border: 2px solid black;
  text-align: justify;
}

@media only screen and (min-width: 1024px) {
  .userProfileReview {
    cursor: pointer;
  }
  .userProfileReview:hover {
    background-color: $colorGreen;
  }
}

.userProfileReviewBox {
  display: flex;
}

.userProfileReviewTitle {
  font-weight: bold;
}

//deleteQuestions

.userProfileDeleteText {
  font-size: $fontS;
  border: 2px solid black;
  padding: $gapM;
  margin: $gapXL 0px;
}

@media only screen and (min-width: 1024px) {
  .userProfileDeleteText {
    font-size: $fontM;
  }
}

.userProfileDeleteButtonsDiv {
  display: flex;
  justify-content: center;
  gap: $gapM;
  text-align: center;
  margin: $gapM auto 0px;
}

.userProfileDeleteButtons {
  background-color: $colorGreen;
  color: white;
  padding: 0px $gapM;
  font-size: $fontS;
  width: fit-content;
  border: 0px;
}

@media only screen and (min-width: 768px) {
  .userProfileDeleteButtons {
    padding: $gapS $gapM;
  }
}

@media only screen and (min-width: 1024px) {
  .userProfileDeleteButtons {
    cursor: pointer;
  }
}

//Error

.userProfileError {
  font-size: $fontS;
  text-align: center;
  color: red;
}
