$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 2.5rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

th {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  th,
  td {
    font-size: $fontM;
  }
}

@media only screen and (min-width: 1024px) {
  td {
    cursor: pointer;
  }
}

.userListTitle {
  text-align: center;
  font-size: $fontL;
  font-weight: bold;
  margin: 95px 0px $gapXL;
}

@media only screen and (min-width: 768px) {
  .userListTitle {
    font-size: $fontXL;
    margin: 110px auto 20px;
    width: 60%;
  }
}

//Search bar

.userListSearchBar {
  margin: 0px auto;
  width: calc(90% - 2px);
  height: fit-content;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid black;
  background-color: white;
  box-shadow: 2px 2px rgba(136, 136, 136, 0.4549019608);
}

@media only screen and (min-width: 768px) {
  .userListSearchBar {
    width: calc(60% - 2px);
  }
}

.userListSearchBar > form {
  display: flex;
}

.userListSearchBarIcon {
  position: relative;
  height: 26.4px;
  width: 26.4px;
  margin: 10px 0px 10px 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .userListSearchBarIcon {
    height: 42.4px;
    width: 42.4px;
  }
}

.userListSearchBarIcon > svg {
  position: absolute;
  height: fit-content;
  width: fit-content;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.userListSearchBar > form > input {
  font-size: $fontM;
  margin: $gapM;
  padding: 0px;
  width: 100%;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .userListSearchBar > form > input {
    font-size: $fontM;
  }
}

.userListSearchBar > form > button {
  display: none;
}

//Table

.userListTable {
  border: 2px solid black;
  padding: $gapM;
  height: fit-content;
  margin: 20px auto;
  box-shadow: 2px 2px #88888874;
  font-size: 0.9rem;
  min-width: 90%;
}

@media only screen and (min-width: 768px) {
  .userListTable {
    min-width: 60%;
  }
}

.userListExplanation {
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: $gapXL;
}

@media only screen and (min-width: 768px) {
  .userListExplanation {
    font-size: $fontM;
  }
}

.userDeleteQuestion {
  border: 2px solid black;
  padding: $gapS;
  text-align: center;
}

.userDeleteButton {
  margin: 0px $gapS;
}

//Error

.userListError {
  font-size: $fontS;
  text-align: center;
  color: red;
  margin-bottom: $gapM;
}

@media only screen and (min-width: 768px) {
  .userListError {
    font-size: $fontM;
  }
}
