$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

ul {
  list-style: none;
}

.footer {
  padding: $gapXL;
  font-size: $fontM;
  font-weight: bold;
  background-color: $colorGreen;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .footer > ul > li {
    width: fit-content;
    cursor: pointer;
  }
  .footer > ul > li:hover {
    color: black;
  }
}

@media only screen and (min-width: 1920px) {
  .footer > ul > li {
    width: 100%;
  }
}

//Footer category

.footerCategory {
  margin-top: 75px;
  padding: $gapM;
}

@media only screen and (min-width: 768px) {
  .footerCategory {
    margin: 115px auto 0px auto;
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .footerCategory {
    width: 50%;
  }
}

.footerCategoryTitle {
  font-weight: bold;
  font-size: $fontL;
}

.footerCategoryText {
  font-size: $fontS;
}

@media only screen and (min-width: 520px) {
  .footerCategoryText {
    font-size: $fontM;
  }
}

.footerGoBackButtonDiv {
  position: relative;
  height: 41.6px;
}

.footerGoBackButtonDiv > button {
  background-color: $colorGreen;
  color: white;
  padding: $gapS $gapM;
  font-size: $fontS;
  border: 0px;
  margin: auto;
  height: fit-content;
  position: absolute;
  right: $gapM;
}

@media only screen and (min-width: 1024px) {
  .footerGoBackButtonDiv > button {
    font-size: $fontM;
    cursor: pointer;
  }

  .footerGoBackButtonDiv > button:hover {
    color: black;
  }
}
