$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$fontXXL: 2.5rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 20px 0px;
  height: 35px;
  width: 100vw;
  background-color: white;
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  .nav {
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .nav {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 75px;
  }
}

.navCentralList {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .navCentralList {
    display: block;
    text-align: center;
  }
  .navCentralList > ul {
    display: flex;
    justify-content: center;
    gap: $gapL;
    font-size: $fontM;
    cursor: pointer;
  }
  .navCentralList > ul > li {
    cursor: pointer;
  }
  .navCentralList > ul > li:hover {
    color: $colorGreen;
  }
}

@media only screen and (min-width: 1024px) {
  .navIcon {
    display: none;
  }
}

.navCentral {
  display: flex;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .navCentral {
    justify-content: center;
  }
}

.navCentral > img {
  width: 50px;
}

.navCentral > div {
  display: flex;
  align-items: center;
  font-size: $fontM;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .navCentral > div {
    font-size: $fontL;
  }
}

@media only screen and (min-width: 1150px) {
  .navCentral > div {
    font-size: $fontXL;
  }
}

.navLogIn,
.navHelloMessage {
  text-align: right;
}

@media only screen and (min-width: 1024px) {
  .navLogIn {
    display: flex;
    justify-content: center;
    font-size: $fontM;
    cursor: pointer;
  }
  .navLogIn:hover {
    color: $colorGreen;
  }
  .navHelloMessage {
    color: black;
  }
}

.navSignIn:hover {
  color: $colorGreen;
}

.navAdminButtons {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .navAdminButtons {
    display: flex;
    gap: $gapM;
  }
  .navAdminButtons > button {
    display: block;
    width: fit-content;
    background-color: $colorGreen;
    color: white;
    padding: $gapS $gapM;
    font-size: $fontS;
    border: 0px;
    margin: 0px auto;
    cursor: pointer;
  }
  .navAdminButtons > button:hover {
    color: black;
  }
}
