$fontS: 1rem;
$fontM: 1.25rem;
$fontL: 1.5rem;
$fontXL: 2rem;
$gapS: 5px;
$gapM: 10px;
$gapL: 15px;
$gapXL: 20px;
$colorGreen: #00af87;

.review {
  border-top: 2px solid black;
  padding: $gapXL;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .review {
    width: 60%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .review {
    width: 700px;
    font-size: $fontS;
  }
}

.reviewsTitle {
  margin-bottom: $gapM;
  font-size: $fontL;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .reviewsTitle {
    font-size: $fontL;
  }
}

.reviewBox {
  display: flex;
}

.reviewTitle {
  font-weight: bold;
}

.reviewButtons {
  margin-left: auto;
}

.reviewEditButton {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: $gapS $gapM;
  margin-right: $gapM;
}

@media only screen and (min-width: 1024px) {
  .reviewEditButton {
    font-size: $fontS;
    cursor: pointer;
  }
  .reviewEditButton:hover {
    color: black;
  }
}

.reviewEditButtonSelected {
  border: 0px;
  background-color: black;
  color: white;
  padding: $gapS $gapM;
  margin-right: $gapM;
}

@media only screen and (min-width: 1024px) {
  .reviewEditButtonSelected {
    font-size: $fontS;
    cursor: pointer;
  }
}

.reviewDeleteButton {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: $gapS $gapM;
}

@media only screen and (min-width: 1024px) {
  .reviewDeleteButton {
    font-size: $fontS;
    cursor: pointer;
  }
  .reviewDeleteButton:hover {
    color: black;
  }
}

.reviewNoReviews {
  text-align: center;
  padding: $gapXL 0px;
  border-top: 2px solid black;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .reviewNoReviews {
    width: calc(60% + 40px);
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .reviewNoReviews {
    width: 740px;
  }
}

//Filter

.reviewFilterRating {
  width: fit-content;
  margin: $gapM auto;
}

.reviewFilterRating > div:first-child {
  text-align: center;
}

.reviewFilterRating > div:last-child {
  margin-top: $gapM;
}

//Edit Review

.reviewEdit {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px auto;
  border: 2px solid black;
  padding: $gapM;
}

@media only screen and (min-width: 768px) {
  .reviewEdit {
    width: calc(100% - 24px);
    margin-top: $gapM;
  }
}

@media only screen and (min-width: 1024px) {
  .reviewEdit > label {
    font-size: $fontS;
  }
}

.reviewEditTitle {
  font-size: $fontM;
  font-weight: bold;
  margin-bottom: $gapM;
  text-align: center;
}

.reviewEditRatings {
  text-align: center;
  margin-top: $gapL;
  font-size: $gapL;
}

@media only screen and (min-width: 1024px) {
  .reviewEditRatings {
    font-size: $fontS;
  }
}

.reviewEditCurrentRating {
  text-align: center;
  font-size: $gapL;
}

@media only screen and (min-width: 1024px) {
  .reviewEditCurrentRating {
    font-size: $fontS;
  }
}

.reviewEditTextarea {
  border-radius: 0px;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  .reviewEditTextarea {
    font-size: $fontS;
  }
}

.reviewEditTextarea:focus {
  background-color: $colorGreen;
  color: white;
}

.reviewEditFormButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  padding: $gapM 0px;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .reviewEditFormButton {
    font-size: $fontS;
    cursor: pointer;
  }
}

.reviewCloseEditButton {
  margin: $gapS 0px;
}

//Delete Review Question

.reviewDeleteText {
  font-size: $fontS;
  border: 2px solid black;
  padding: $gapM;
  margin: $gapM 0px;
}

.reviewDeleteButtonsDiv {
  display: flex;
  justify-content: center;
  gap: $gapM;
  text-align: center;
  margin: $gapM auto 0px;
}

.reviewDeleteButtons {
  background-color: $colorGreen;
  color: white;
  padding: 0px $gapM;
  font-size: $fontS;
  width: fit-content;
  border: 0px;
}

@media only screen and (min-width: 1024px) {
  .reviewDeleteButtons {
    cursor: pointer;
  }
}

//Write a review button

.reviewWriteDiv {
  display: flex;
  flex-direction: column;
}

.reviewWriteDiv > button {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: $gapS $gapM;
  width: fit-content;
  margin: 0px auto $gapL auto;
  font-size: $fontM;
}

@media only screen and (min-width: 768px) {
  .reviewWriteDiv > button {
    width: calc(60% + 40px);
  }
}

@media only screen and (min-width: 1024px) {
  .reviewWriteDiv > button {
    width: 740px;
    cursor: pointer;
  }
  .reviewWriteDiv > button:hover {
    color: black;
  }
}

// Write review

.reviewWrite {
  font-size: $fontL;
  font-weight: bold;
  text-align: center;
  padding: $gapM 0px;
  border-top: 2px solid black;
}

@media only screen and (min-width: 768px) {
  .reviewWrite {
    width: 60%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 1024px) {
  .reviewWrite {
    width: 700px;
    font-size: $fontM;
  }
}

.reviewWriteForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px auto;
}

@media only screen and (min-width: 768px) {
  .reviewWriteForm {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  .reviewWriteForm {
    width: 700px;
  }

  .reviewWriteForm > label {
    font-size: $fontS;
  }
}

.reviewWriteRatings {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteRatings {
    font-size: $fontS;
  }
}

.reviewWriteTextarea {
  border-radius: 0px;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteTextarea {
    font-size: $fontS;
  }
}

.reviewWriteTextarea:focus {
  background-color: $colorGreen;
  color: white;
}

.reviewWriteFormButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  padding: $gapM 0px;
  margin-bottom: $gapM;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteFormButton {
    font-size: $fontS;
    cursor: pointer;
  }
}

.reviewWriteSignIn {
  text-align: center;
  font-weight: bold;
  padding-bottom: $gapXL;
}

.reviewWriteSignInSpan {
  color: $colorGreen;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteSignInSpan {
    cursor: pointer;
  }
}

//Error

.reviewDeleteEditError {
  font-size: $fontS;
  text-align: center;
  color: red;
}

.reviewAlreadyReviewedError {
  font-size: $fontS;
  text-align: center;
  color: red;
  margin-bottom: $gapL;
}

.reviewWriteError {
  text-align: center;
  color: red;
}

@media only screen and (min-width: 768px) {
  .reviewWriteError {
    margin-bottom: $gapM;
  }
}
