.review {
  border-top: 2px solid black;
  padding: 20px;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .review {
    width: 60%;
    margin: 0px auto;
  }
}
@media only screen and (min-width: 1024px) {
  .review {
    width: 700px;
    font-size: 1rem;
  }
}
.reviewsTitle {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .reviewsTitle {
    font-size: 1.5rem;
  }
  .reviewTitleAuthor:hover {
    color: #00af87;
    cursor: pointer;
  }
}
.reviewBox {
  display: flex;
}

.reviewTitle {
  font-weight: bold;
}

.reviewButtons {
  margin-left: auto;
}

.reviewEditButton {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 1024px) {
  .reviewEditButton {
    font-size: 1rem;
    cursor: pointer;
  }
  .reviewEditButton:hover {
    color: black;
  }
}
.reviewEditButtonSelected {
  border: 0px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 1024px) {
  .reviewEditButtonSelected {
    font-size: 1rem;
    cursor: pointer;
  }
}
.reviewDeleteButton {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: 5px 10px;
}

@media only screen and (min-width: 1024px) {
  .reviewDeleteButton {
    font-size: 1rem;
    cursor: pointer;
  }
  .reviewDeleteButton:hover {
    color: black;
  }
}
.reviewNoReviews {
  text-align: center;
  padding: 20px 0px;
  border-top: 2px solid black;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .reviewNoReviews {
    width: calc(60% + 40px);
    margin: 0px auto;
  }
}
@media only screen and (min-width: 1024px) {
  .reviewNoReviews {
    width: 740px;
  }
}
.reviewFilterRating {
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
}

.reviewFilterRating > div:first-child {
  text-align: center;
}

.reviewFilterRating > div:last-child {
  margin-top: 10px;
}

.reviewEdit {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px auto;
  border: 2px solid black;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .reviewEdit {
    width: calc(100% - 24px);
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .reviewEdit > label {
    font-size: 1rem;
  }
}
.reviewEditTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.reviewEditRatings {
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
}

@media only screen and (min-width: 1024px) {
  .reviewEditRatings {
    font-size: 1rem;
  }
}
.reviewEditCurrentRating {
  text-align: center;
  font-size: 15px;
}

@media only screen and (min-width: 1024px) {
  .reviewEditCurrentRating {
    font-size: 1rem;
  }
}
.reviewEditTextarea {
  border-radius: 0px;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  .reviewEditTextarea {
    font-size: 1rem;
  }
}
.reviewEditTextarea:focus {
  background-color: #00af87;
  color: white;
}

.reviewEditFormButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  padding: 10px 0px;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .reviewEditFormButton {
    font-size: 1rem;
    cursor: pointer;
  }
  .reviewEditFormButton:hover {
    background-color: #00af87;
  }
}
.reviewCloseEditButton {
  margin: 5px 0px;
}

.reviewDeleteText {
  font-size: 1rem;
  border: 2px solid black;
  padding: 10px;
  margin: 10px 0px;
}

.reviewDeleteButtonsDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin: 10px auto 0px;
}

.reviewDeleteButtonsDiv > button {
  background-color: #00af87;
  color: white;
  padding: 0px 10px;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  border: 0px;
}

@media only screen and (min-width: 1024px) {
  .reviewDeleteButtonsDiv > button {
    cursor: pointer;
  }
  .reviewDeleteButtonsDiv > button:hover {
    color: black;
  }
}
.reviewWriteDiv {
  display: flex;
  flex-direction: column;
}

.reviewWriteDiv > button {
  border: 0px;
  background-color: #00af87;
  color: white;
  padding: 5px 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto 15px auto;
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .reviewWriteDiv > button {
    width: calc(60% + 40px);
  }
}
@media only screen and (min-width: 1024px) {
  .reviewWriteDiv > button {
    width: 740px;
    cursor: pointer;
  }
  .reviewWriteDiv > button:hover {
    color: black;
  }
}
.reviewWrite {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
  border-top: 2px solid black;
}

@media only screen and (min-width: 768px) {
  .reviewWrite {
    width: 60%;
    margin: 0px auto;
  }
}
@media only screen and (min-width: 1024px) {
  .reviewWrite {
    width: 740px;
    font-size: 1.5rem;
  }
}
.reviewWriteForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0px auto;
}

@media only screen and (min-width: 768px) {
  .reviewWriteForm {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .reviewWriteForm {
    width: 700px;
  }
  .reviewWriteForm > label {
    font-size: 1rem;
  }
}
.reviewWriteRatings {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteRatings {
    font-size: 1rem;
  }
}
.reviewWriteTextarea {
  border-radius: 0px;
  border: 1px solid black;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteTextarea {
    font-size: 1rem;
  }
}
.reviewWriteTextarea:focus {
  background-color: #00af87;
  color: white;
}

.reviewWriteFormButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  padding: 10px 0px;
  margin: 10px 0px;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteFormButton {
    font-size: 1rem;
    cursor: pointer;
  }
  .reviewWriteFormButton:hover {
    background-color: #00af87;
  }
}
.reviewWriteSignIn {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

.reviewWriteSignInSpan {
  color: #00af87;
}

@media only screen and (min-width: 1024px) {
  .reviewWriteSignInSpan {
    cursor: pointer;
  }
}
.reviewDeleteEditError {
  font-size: 1rem;
  text-align: center;
  color: red;
}

.reviewAlreadyReviewedError {
  font-size: 1rem;
  text-align: center;
  color: red;
  margin-bottom: 15px;
}

.reviewWriteError {
  text-align: center;
  color: red;
}

@media only screen and (min-width: 768px) {
  .reviewWriteError {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=reviews.css.map */